{% extends "index.html" %}

{% block content%}
<h2>Register School</h2>
<form action="" method="post">
    <p>
        {{form.schoolName.label}} <br>
        {{form.schoolName(size=50)}}
    </p>
    <p>
        {{form.cutOffPoints.label}} <br>
        {{form.cutOffPoints()}}
    </p>
    <p>
        {{form.studentNumber.label}} <br>
        {{form.studentNumber()}}
    </p>
    <p> {{form.submit()}} </p>
</form>


<!-- Showing School -->
<div class="right">
    <h2>{{ school.name }}</h2>
    <span> Cut off points:  {{ school.cut_off_points}}</span>
    <span>Students: {{ school.number_of_students}}</span>
    <span>StudentsNo: {{ stno}}</span>
    <span>Unassigned: {{ unassigned}}</span>
    <table>
        <tr>
            <th>Name</th>
            <th>Aggregate</th>

        </tr>
        {% for student in students %}
            <tr>
                <td>{{student.name}}</td>
                <td>{{ student.aggregate }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock content%}